body {
    color: white;

    font-family: Arial, Helvetica, sans-serif;

    background: black url('img/logo.png') left top no-repeat fixed;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}
header {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}
header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
 }
 h3 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
 }
 .center{
     text-align:center;
     font-size: 24px;
     color:darkgray
 }
 .tamanho{
    text-align: center;
    font-size: 36px;
    color:azure
 }
 h2{color: rgb(155,155,155);}

footer img {width: 40px;
    height: 40px;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}
.container {
    padding: 0px 80px;
}
nav a:hover{color: blue;
}
